{
  "src/**/*.{js,jsx}": ["npm run --silent lint:js:fix", "git add"],
  "src/**/*.scss": ["npm run --silent lint:scss:fix", "git add"],
  "./**/*.{ts,js,scss,json,*rc}": ["npm run prettier:write", "git add"]
}
